<%= include header.ejs %>
    <%= include menu.ejs %>
    
    <div class="main-container">
        <div class="main clearfix">

            <article>

                <h2>Users</h2>
                <a href="/user/new" type="button" id="add-user" class="btn btn-labeled btn-success pull-right" style="margin-top: -50px;"><span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span><span class="btn-text">Add User</span></a>
                <hr>
                <div id="users-list">
                    <table class="table table-striped">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th></th>
                        </tr>
                        <% for (user in users) { %>
                            <tr>
                                <td><%= users[user].Name %></td>
                                <td><%= users[user].Email %></td>
                                <td><%= users[user].Role %></td>
                                <td><a href="/user/<%= users[user].id %>" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i></a></td>
                            </tr>
                        <% } %>
                    </table>
                </div>

            </article>
        </div> <!-- #main -->
    </div> <!-- #main-container -->
<%= include footer.ejs %>